---
const title = 'notation.randsum.dev'
const description = 'The RANDSUM Dice Notation Specification'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>{description}</p>
    <p><a href="/spec/v1.0">View the specification</a></p>
  </body>
</html>
