---
import { getCollection, render } from 'astro:content'
import { getLatestVersion } from '../utils/versions'
import SpecLayout from '../layouts/SpecLayout.astro'

const latestId = await getLatestVersion()
const entries = await getCollection('specs')
const entry = entries.find((e) => e.id === latestId)
if (!entry) throw new Error(`No spec entry found for version: ${latestId}`)
const { Content } = await render(entry)
---

<SpecLayout
  title="RANDSUM Dice Notation Specification"
  version={latestId}
  isLatest={true}
>
  <div slot="content">
    <Content />
  </div>
</SpecLayout>
